#app {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ui-frame {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    display: none;
    
    &--active{
        display: block;
    }

    &__text,
    &__image{
        padding: 1.2em;
    }
    
    code{
        white-space: pre;
    }

    img {
        display: block;
        height: auto;
        width: 100%;
    }
}

